# Que es python

es un lenguaje de programacion de alto nivel, interpretado y
orientado a objetos(multiparadigma), creado a finales del 1989
por Guido van Rossum
Python se usa en diversas areas como:
- aplicaciones web
- aprendizaje automatico
- automatizacion de tareas
- analisis de datos entre otras

## Hola mundo
conociendo nuestro notebook. ejecutando nuestro primer comando usando
built-in function son funcones incorporadas en python como print() funcion
para mostrar valores

In [3]:
print("¡Hola Mundo!")

¡Hola Mundo!

In [4]:
print(f"{28} febrero {2003}")

28 febrero 2003

## Manipulando datos en python
### Variables
las variables son creadas cuando le asignamos un valor
para esto colocamos el nombre de la variable y el operador de asignacion(=) con
el valor que le queremos asignar.

existen algunos tipos de nombres que no podemos usar para definir una variable
- Nombres que comiencen con numeros
    - Ejemplos: `10_notas`, `2_nombre_casa`
- Palabras sepradas por espacio
    - Ejemplos: `Nombre escuela`, `notas estudiantes`
- Nombres de funciones de Python
    - Ejemplos: `print`, `type`

Las letras mayusculas y minusculas generan diferentes variables. la variable `edad` es difernete de la variable `EDAD` tambien diferente a `Edad`.

In [4]:
edad=20
Edad=20
EDAD=20
EDAD=21
print(id(edad))
print(id(Edad))
print(id(EDAD))

139678174223888
139678174223888
139678174223920

### Tipos de variables
cada variable contiene una clase especifica con respecto al tipo de objeto
al cual hace referencia.
Estas clases seran diferentes de acuerdo al tipo de dato que se le asigne 
a la variable.
Para conocer la clase de cada elemento usamos la funcion `type()`

In [8]:
# 4 tipos de variables
numero=23
type(numero)

int

In [9]:
decimal=4.0
type(decimal)

float

In [10]:
string="este es un texto"
type(string)

str

In [11]:
booleano=False
type(booleano)

bool

En una institucion educativa podemos tener varios tipos de infromacion
supongamos que tenemos acceso a la ficha de datos del alumno *jose alvarez* 
como tranformamos esta informacion en variables de python:
* Nombre: Jose Alvarez
* Edad: 43
* Promedio del semestre: 9.75
* Situacion de aprobacion: Verdadera(aprobado)

In [12]:
nombre="Jose Alvarez"
edad=43
promedio=9.75
aprobado=True

### Variable numericas
nos enfocamos en los tipos `entero` y `float`.

Tenemos una tabla de informacion sobre los diversos cargos, cantidad de 
personas empleadas y el salario correspondiente:

|Cargo|Cantidad|Salario|
|------|--------|-----|
|Vigilante|5|300|
|Docente|16|500|
|Coordinador|2|600|

Necesitamos trabajar con estos datos para obtener:
* La cantidad total de empleados
* La diferencia entre el salario mas bajo y mas alto
* El promedio ponderado de los salarios de los empleados de la escuela

In [20]:
vigilante_c,vigilante_s=5,300
docente_c,docente_s=16,500
coordinador_c,coordinador_s=2,600
total_empleados=vigilante_c+docente_c+coordinador_c
diferencia_salario=coordinador_s-vigilante_s
promedio_salario=(vigilante_s+docente_s+coordinador_s)/3
print(total_empleados)
print(diferencia_salario)
print(promedio_salario)

23
300
466.6666666666667

### Variables de texto
### String
string hace referencia a un conjunto de caracteres formando un texto.
podemos crear string cuando atribuimos un dato a un variable entre comillas sencillas('') o comillas dobles("").
las variables textuales son objetos que poseen metodos que nos ayudan a formatear string. se define con la siguiente estructura:
```python
objeto.metodo()
```

In [21]:
texto="Aula"
type(texto)

str

tenemos una variable de string que para ser guardado necesita estar
en mayuscula

> str.upper()
> 
convierte un string a mayusculas

In [41]:
nombre_usuario=" Jose Luis Alvarez Escobar "
#el objeto final debe ser de la siguiente forma:
#"JOSE LUIS ALVAREZ ESCOBAR"
nombre_usuario.upper()

' JOSE LUIS ALVAREZ ESCOBAR '

> str-lower()
> 
convierte un string a minuscula

In [42]:
nombre_usuario.lower()

' jose luis alvarez escobar '

> str.strip()

Elimina los espacion en blanco al inicio y al final de un string

In [43]:
nombre_usuario.strip()

'Jose Luis Alvarez Escobar'

> str.replace(antiguo, nuevo)

Sustituye todas las ocurrencias del testo antiguo en la string por el nuevo

In [45]:
nombre_usuario.replace('Alvarez','Rosmery')

' Jose Luis Rosmery Escobar '

> [!TIP] **Observacion**
> 1. Los metodos devuelven una **tranformacion**, no son ejecutados directamente sobre la variable donde esta almacenado el texto.
> 2. Adicionalmente podemos acumular la ejecucion de los metodos.

In [47]:
texto_trasformado=nombre_usuario.replace("Jose","Mi amor")
texto_trasformado
print(id(texto_trasformado),id(nombre_usuario))

139677657051936 139677657150000
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

para que la transformacion se pueda ejecutar debemos atribuir la salida de las 
trasnformaciones a una nueva variable.

## Capturando datos
En nuestras aplicaciones es necesario capturar los valores del usuario de nuestro proyecto.
En python logramos capturar los datos del usuario a traves del comando `input()`
Para guardar el dato capturado debemos atribuir el resultado a una variable.

In [48]:
como_te_llamas=input("Ingresa tu nombre:")

Ingresa tu nombre: jose

la salida de este input siempre sera un string. Eso quiere decir que aunque capturemos un valor numerico, este sera de tipo string.
Entonces sera necesario convertir el resultado cuando no se desea utilizar el valor como tipo string.
existen funciones para la conversion de valores:
* Enteros: int(el dato a convertir)
* Decimal: float(el dato a convertir)
* String: str(el dato a convertir)
* Booleano: bool(el dato a convertir)

In [50]:
year_admision=input("ingresa el año de admision:")

ingresa el año de admision: 2023

In [51]:
type(year_admision)

str

In [52]:
year_egreso=int(input("ingresa el año de egreso"))
type(year_egreso)

ingresa el año de egreso 345

int

## Tabla unicode
tabla de codificacion de caracteres que asocia codigos(segun ASCCI) numericos con caracteres especificos.
esto permite que desarrolladores de todo el mundo trabajen contexto y carcateres de diferentes idiomas.

In [58]:
arroba,comilla_invertida=chr(64),chr(96)
print(arroba)
print(comilla_invertida)

@
`

In [59]:
chr(72)+chr(111)+chr(108)+chr(97)

'Hola'

## Formatos de `print()`
podemos visualizar el resultado de una variable dentro de una cadena de texto
### f-string
formateo de cadena, colocamos una f antes de crear la cadena y las variables las podemos colocar entre llaves `{}`.

In [60]:
nombre_alumna="ruth marina"
edad_alumna=18
print(f"el nombre de la alumna es {nombre_alumna} y su edad es {edad_alumna}")

el nombre de la alumna es ruth marina y su edad es 18

### Operador de formateo (%)
permite la insercion de variable en puntos espeficicos en la cadena de texto utilizando el operador `%`, este operador funcionan como un marcador indicando donde se expondra el valor de la variable en la cadena.
El % debe ir acompañado de una palabra clave para cada tipo de variable que desea agregar, de acuerdo a la siguiente tabla:
|Tipo de Variable|Palabra Clave|
|-------|------|
|Cadena de texto|%s|
|Entero|%d|
|Punto flotante|%f|
|Caracter|%c|

De esta manera, para insertar una variable, puedes agregar el operador en la cadena en el punto deseado.
Luego al final de la cadena, agrega nuevamente el `%`, especificando la variable entre parentesis

In [62]:
name_teacher="Jose Luis"
print("Nombre del docente: %s"%(name_teacher))

Nombre del docente: Jose Luis

In [63]:
# si tenemos mas de una variable, debemos ordenarlo segun su aparicion en el
#texto y separadas por comas
name_alumn="marilyn"
edad_alumn=11
promedio_alumn=9.06
print("nombre del alumno: %s, tiene %d años y su promedio de nota es %f"%(name_alumn,edad_alumn,promedio_alumn))

nombre del alumno: marilyn, tiene 11 años y su promedio de nota es 9.060000

In [69]:
# al usar un dato decimal podemos indicar el numero de decimales que
# deseamos mostrar antes de la f
precio=10.904565
print("el precio es %.2f"%(precio))

el precio es 10.90

### .format()
tambien es posible usar el metodo `.format()` para formatear cadenas.
Es mas flexible y permite pasar las variables directamente dentro de la cadena
sin necesidades de operadores `%`, los marcadores son simplemente `{}`.

In [72]:
nombre_child="Gianluca"
print("El nombre del niño es: {}".format(nombre_child))
#si tenemos varios valores de la misma manera le pasamos las variables segun
#la posicion separados por comas

El nombre del niño es: Gianluca

### Caracteres especiales
ademas del formateo de insecion de variables, tambien existen caracteres especiales, para representar acciones especiales o caracteres como el  `Enter` y la `tabulacion`

**\n** este caracter especial crea una nueva linea

In [73]:
print("esta es una linea,\n esta es otra linea")

esta es una linea,
 esta es otra linea

**\t** caracter de tabulacion, se usa para agregar un espacion de tabulacion

In [74]:
print("texto normal \ttabulacion")

texto normal 	tabulacion

**\\** se usa para agregar una barra invertida

In [75]:
print("esto solo muestra una sola barra invertida \\")

esto solo muestra una sola barra invertida \

**\"** se usa para imprimir comillas dobles cuanto estamos trabajando con una cadena creada con comillas dobles `""` en el interior, lo mismo sucede con las comillas simples `''`

In [76]:
print("este texto esta \"entre comillas\".")

este texto esta "entre comillas".